html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#choose-list{
	width: 300px;
	height: 100px;
	background-color: red;
	margin: 0 auto;	
}

.page {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg-seamless.png");
  background-size: 30% 30%;
}
/*--body*/
#games-room {
  background-color: #97b4bd;
  background-image: url("../img/purplefr.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 850px;
  max-width: 1500px;
  margin: 0 auto;
  border: 3px dotted white;
  display: block;
}

#close{
	display: none;
	border: 2px solid red;
	height: 30px;
	width: 30px;
	margin-top: 87px;
	margin-right: 87px;
	float:right;
}

#window{
	border: 2px solid green;
	height: 100%;
	margin: 87px;
	padding-top: 30px;
}
