.header {
	height: 50px;
	background-color: rgba(0, 0, 0, 0.7);
}

#logo {
	width: 48px;
	height: 48px;
	display: inline;
}

#logo img {
	width: 48px;
	height: 48px;
	background-color: #2598f5;
	box-shadow: inset 0px 0px 6px #80ffff;
	-webkit-box-shadow: inset 0px 0px 6px #80ffff;
	border: 1px solid #0080ff;
}

#logo img:hover {
	background-color: #0b7edd;
	box-shadow: inset 0px 0px 6px #53a9ff;
	-webkit-box-shadow: inset 0px 0px 6px #53a9ff;
}

#account {
	height: 50px;
	width: 250px;
	float: right;
	display: inline;
}

#login-trigger {
	background: rgb(247, 247, 247);
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 50px;
	line-height: 50px;
	font-weight:bold;
	padding: 0 8px;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 0 #fff;
	border-right: 1px solid #ddd;
	box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
}

#logReg{
	float: left;
	display:none;
}

#welcome{
	float:right;
	color:white;
	display:inline;
	z-index:2;
	margin-right:3px;
	margin-top:10px;
	display:none;
}

#welcome a {
	text-decoration: none;
	transition: color .4s;
  	color: #265C83;
}
#welcome a:link, a:visited { color: #3073a5; }
#welcome a:hover   { color: #7FDBFF; }
#welcome a:active  {
  transition: color .3s;
  color: #007BE6;
}

#top{	
	display:inline;
}

#top img{
	height:35px;
	padding-bottom: 7px;	
	margin-left:35%;
}
