/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	padding: 3px;
}
/* flip the pane when hovered */
.flip-container .selected .flipper, .flip-container.selected .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 100px;
	height: 100px;
	display: inline-block;
}

/* flip speed goes here */
.flipper {
	transition: 0.8s;
	transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
	border-radius: 10px;
	backface-visibility: hidden;
	position: absolute;

}

/* front pane, placed above back */
.front {
	background-color: #6FA617;
	background-image: url("../img/question-mark.png");
	background-size: 80px 80px;
	background-repeat: no-repeat;
	background-position: center;
	border: 3px solid #6FA617;
	box-shadow: 0px 0px 0px 2px #fff inset;
	box-sizing: border-box;
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	box-shadow: 0px 0px 0px 3px #6FA617 inset;
	background-color: white;
	transform: rotateY(180deg);
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#board {
	margin: 0 auto;
	display: table;
}

span{
	display: inline-block;
  vertical-align: middle;
  padding-top:30px;
  font-weight: bold;
  font-size: medium;
}