.letter {
	width: 42px;
	height: 52px;
	text-align: center;
	float: left;
	background: #e4d095;
	color: #2a1f1b;
	border-radius: 4px;
	font-size: 35px;
	font-weight: 400;
	line-height: 52px;
	padding-top: 2px;
	margin: 3px;
	text-align: center;
	cursor: default;
	font-family: "Spinnaker", Arial, sans-serif;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9), 0 -1px 1px
		rgba(255, 255, 255, 0.2);
	box-shadow: 1px 7px 15px rgba(0, 0, 0, 0.8), inset 3px 0 2px
		rgba(255, 255, 255, 0.4), inset 0 3px 0px rgba(255, 255, 255, 0.5),
		inset -2px -3px 0px rgba(143, 128, 82, 0.6);
}

.scrambler {
	padding-top: 50px;
	margin: 0 auto;
	text-align: center;
	display: table;
}

.btn {
  color: #fff;
  background-color: #6496c8;
  border: none;
  border-radius: 5px;
  box-shadow: 0 10px #27496d;
  padding: 10px;
  margin-right:10px;
}


.btn:hover,
.btn.hover {
  background-color: #417cb8
}

.btn:active,
.btn.active {
  background-color: #417cb8;
  box-shadow: 0 5px #27496d;
  transform: translateY(5px);
  outline: none !important;
}

#drag-wrapper {
	height: auto;
	width: auto;
	margin-bottom: 50px;
	display: inline-block;
}

#pointsWrap {
	padding: 10px;
	margin-top: 50px;
}

.points {
	border: 2px solid white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: inline-block;
}